[submodule "ABPlayerController"]
	path = ABPlayerController
	url = https://github.com/jerryrt/ABPlayerController.git
[submodule "MediaKeys"]
	path = MediaKeys
	url = https://github.com/jerryrt/MediaKeys.git
[submodule "AirTunes"]
	path = AirTunes
	url = https://github.com/jerryrt/AirTunes.git
[submodule "SwiftyRSA"]
	path = SwiftyRSA
	url = https://github.com/jerryrt/SwiftyRSA.git
